@using Data;
@using AuxDeskServices;
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json

@using Models;
@using Services;

@inject NavigationManager _navigationManager
@inject ITaskService _taskService

@page "/allTasks"

<h3>All Tasks</h3>

<div class="row gx-3">
    <div class="col">
        <div class="p-2">
            <h6><b>Not Started</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
            @foreach (TaskItem taskItem in listNotStarted)
            {
                <div class="col">
                    <div class="card" style="margin-top:8px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" @onclick="() => SelectTaskItem(taskItem.TaskGUID)">
                                    <h6 class="card-title"><b>@taskItem.Title</b></h6>
                                </div>
                                <div class="col">
                                    @if (taskItem.Priority == 1)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                    }
                                    @if (taskItem.Priority == 2)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                    }
                                    @if (taskItem.Priority == 3)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (taskItem.StartDateTime == null)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Not started</p>
                                    }
                                    @if (taskItem.StartDateTime != null && !taskItem.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                    }
                                    @if (taskItem.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-2">
            <h6><b>In Progress</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
            @foreach (TaskItem taskItem in listInProgress)
            {
                <div class="col">
                    <div class="card" style="margin-top:8px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" @onclick="() => SelectTaskItem(taskItem.TaskGUID)">
                                    <h6 class="card-title"><b>@taskItem.Title</b></h6>
                                </div>
                                <div class="col">
                                    @if (taskItem.Priority == 1)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                    }
                                    @if (taskItem.Priority == 2)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                    }
                                    @if (taskItem.Priority == 3)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (taskItem.StartDateTime == null)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Not started</p>
                                    }
                                    @if (taskItem.StartDateTime != null && !taskItem.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                    }
                                    @if (taskItem.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-2">
            <h6><b>Done</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
            @foreach (TaskItem taskItem in listDone)
            {
                <div class="col">
                    <div class="card" style="margin-top:8px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" @onclick="() => SelectTaskItem(taskItem.TaskGUID)">
                                    <h6 class="card-title"><b>@taskItem.Title</b></h6>
                                </div>
                                <div class="col">
                                    @if (taskItem.Priority == 1)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                    }
                                    @if (taskItem.Priority == 2)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                    }
                                    @if (taskItem.Priority == 3)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (taskItem.StartDateTime == null)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Not started</p>
                                    }
                                    @if (taskItem.StartDateTime != null && !taskItem.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                    }
                                    @if (taskItem.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    <div class="col">
        <div class="p-2">
            <h6><b>Selected Task</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
                <div class="p-2">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Title..." @bind="@selectedTaskItem.Title" disabled>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" @onclick="ToggleDropdownPriority" type="button">
                                @selectedPriority
                            </button>
                            <ul class="dropdown-menu @(isDropdownOpenPriorty ? "show" : "")" style="@(isDropdownOpenPriorty ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);" : "")">
                                <li><a class="dropdown-item" @onclick="@(() => SelectPriority(1))">High</a></li>
                                <li><a class="dropdown-item" @onclick="@(() => SelectPriority(2))">Medium</a></li>
                                <li><a class="dropdown-item" @onclick="@(() => SelectPriority(3))">Low</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="input-group mb-3  text-center">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                        <input type="date" class="form-control" aria-label="Sizing example input" @bind="@selectedTaskItem.AssignedDate" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group" style="height:60vh">
                        <textarea class="form-control" aria-label="With textarea" @bind="@selectedTaskItem.Notes" placeholder="Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<TaskItem> listTaskItems = new();
    private List<TaskItem> listNotStarted = new ();
    private List<TaskItem> listInProgress = new();
    private List<TaskItem> listDone = new();
    private TaskItem selectedTaskItem = new();

    public string ProgressDisplay = "none";
    public bool BProgressExpanded = false;

    private bool isDropdownOpenPriorty = false;
    private string selectedPriority = "Medium";
    private int taskPriority = 2;

    protected override void OnInitialized()
    {
        LoadTaskItems();
    }

    private void ToggleDropdownPriority()
    {
        isDropdownOpenPriorty = !isDropdownOpenPriorty;
    }

    private void SelectPriority(int priority)
    {
        taskPriority = priority;
        isDropdownOpenPriorty = false;
        selectedPriority = "Low";

        if (priority == 1) { selectedPriority = "High"; }
        else if (priority == 2) { selectedPriority = "Medium"; }
    }
    private async void LoadTaskItems()
    {
        listTaskItems = await _taskService.GetTaskItemsAsync(null);

        if (listTaskItems == null || listTaskItems.Count == 0)
        {
            return;
        }

        foreach (TaskItem taskItem in listTaskItems)
        {
            if (taskItem.NotStarted())
            {
                // Add to not started
                listNotStarted.Add(taskItem);
                continue;
            }
            if (taskItem.InProgress())
            {
                // Add to In Progress
                listInProgress.Add(taskItem);
                continue;
            }
            if (taskItem.IsCompleted())
            {
                // Add to Done
                listDone.Add(taskItem);
                continue;
            }
        }
    }

    private async void SelectTaskItem(string taskGUID)
    {
        selectedTaskItem = await _taskService.GetTaskItemAsync(listTaskItems, taskGUID);
        
        if (selectedTaskItem.Priority == 1) { selectedPriority = "High"; }
        else if (selectedTaskItem.Priority == 2) { selectedPriority = "Medium"; }
        else { selectedPriority = "Low"; }
    }
}
