@using Data;
@using AuxDeskServices;
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json

@inject NavigationManager _navigationManager

@page "/allTasks"

<h3>All Tasks</h3>

<div class="row gx-3">
    <div class="col">
        <div class="p-2">
            <h5><b>Unassigned Date</b></h5>
            @foreach (UserTask userTask in listTasksNoDate)
            {
                <div class="col">
                <div class="card" style="margin-top:8px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col" @onclick="() => SelectTask(userTask.TaskGUID)">
                                <h6 class="card-title"><b>@userTask.UserTaskData.Title</b></h6>
                            </div>
                            <div class="col" >
                                    @if (userTask.Priority == 1) {
                                        <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                    }
                                    @if (userTask.Priority == 2)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                    }
                                    @if (userTask.Priority == 3)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                    }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (userTask.StartDateTime == null) {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:#dee2e6;border-radius:4px">Not started</p>
                                }
                                @if (userTask.StartDateTime != null && !userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                }
                                @if (userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            }
        </div>
    </div>
        
    <div class="col">
        <h5><b>Not Started</b></h5>
        @foreach (UserTask userTask in listTasksNotStarted)
        {
            <div class="col">
                <div class="card" style="margin-top:8px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col" @onclick="() => SelectTask(userTask.TaskGUID)">
                                <h6 class="card-title"><b>@userTask.UserTaskData.Title</b></h6>
                            </div>
                            <div class="col">
                                @if (userTask.Priority == 1)
                                {
                                    <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                }
                                @if (userTask.Priority == 2)
                                {
                                    <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                }
                                @if (userTask.Priority == 3)
                                {
                                    <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (userTask.StartDateTime == null)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:#dee2e6;border-radius:4px">Not started</p>
                                }
                                @if (userTask.StartDateTime != null && !userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                }
                                @if (userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col">
        <h5><b>In Progress</b></h5>
        @foreach (UserTask userTask in listTasksInProgress)
        {
            <div class="col">
                <div class="card" style="margin-top:8px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col" @onclick="() => SelectTask(userTask.TaskGUID)">
                                <h6 class="card-title"><b>@userTask.UserTaskData.Title</b></h6>
                            </div>
                            <div class="col">
                                @if (userTask.Priority == 1)
                                {
                                    <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                }
                                @if (userTask.Priority == 2)
                                {
                                    <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                }
                                @if (userTask.Priority == 3)
                                {
                                    <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (userTask.StartDateTime == null)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:#dee2e6;border-radius:4px">Not started</p>
                                }
                                @if (userTask.StartDateTime != null && !userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                }
                                @if (userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col">
        <h5><b>Done</b></h5>
        @foreach (UserTask userTask in listTasksDone)
        {
            <div class="col">
                <div class="card" style="margin-top:8px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col" @onclick="() => SelectTask(userTask.TaskGUID)">
                                <h6 class="card-title"><b>@userTask.UserTaskData.Title</b></h6>
                            </div>
                            <div class="col">
                                @if (userTask.Priority == 1)
                                {
                                    <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                }
                                @if (userTask.Priority == 2)
                                {
                                    <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                }
                                @if (userTask.Priority == 3)
                                {
                                    <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (userTask.StartDateTime == null)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:#dee2e6;border-radius:4px">Not started</p>
                                }
                                @if (userTask.StartDateTime != null && !userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                }
                                @if (userTask.IsDone)
                                {
                                    <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col">
        <h5><b>Selected Task</b></h5>
        <div class="p-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Title..." @bind="@selectedTask.UserTaskData.Title" disabled>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" @onclick="ToggleDropdownPriority" type="button">
                        @selectedPriority
                    </button>
                    <ul class="dropdown-menu @(isDropdownOpenPriorty ? "show" : "")" style="@(isDropdownOpenPriorty ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);" : "")">
                        <li><a class="dropdown-item" @onclick="@(() => SelectPriority(1))">High</a></li>
                        <li><a class="dropdown-item" @onclick="@(() => SelectPriority(2))">Medium</a></li>
                        <li><a class="dropdown-item" @onclick="@(() => SelectPriority(3))">Low</a></li>
                    </ul>
                </div>
            </div>
            <div class="input-group mb-3  text-center">
                <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                <input type="date" class="form-control" aria-label="Sizing example input" @bind="@selectedTask.AssignedDate" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group" style="height:60vh">
                <textarea class="form-control" aria-label="With textarea" @bind="@selectedTask.UserTaskData.Notes" placeholder="Notes"></textarea>
            </div>
        </div>
        </div>
</div>

@code {

    AuxDeskServices _auxDeskServices = new AuxDeskServices();
    private List<UserTask> listTasksNoDate = new List<UserTask>();
    private List<UserTask> listTasksNotStarted = new List<UserTask>();
    private List<UserTask> listTasksInProgress = new List<UserTask>();
    private List<UserTask> listTasksDone = new List<UserTask>();
    private UserTask selectedTask = new UserTask();

    public string ProgressDisplay = "none";
    public bool BProgressExpanded = false;

    private bool isDropdownOpenPriorty = false;
    private string selectedPriority = "Medium";
    private int taskPriority = 2;

    protected override void OnInitialized()
    {
        Load();
    }

    private void ToggleDropdownPriority()
    {
        isDropdownOpenPriorty = !isDropdownOpenPriorty;
    }

    private void SelectPriority(int priority)
    {
        taskPriority = priority;
        isDropdownOpenPriorty = false;
        selectedPriority = "Low";

        if (priority == 1) { selectedPriority = "High"; }
        else if (priority == 2) { selectedPriority = "Medium"; }
    }


    private void Load()
    {

        List<UserTask> listUserTasks = _auxDeskServices.GetUserTasks();

        if (listUserTasks == null || listUserTasks.Count == 0)
        {
            return;
        }

        listTasksNoDate = listUserTasks.Where(userTask => userTask.AssignedDate == null && !userTask.IsDeleted).OrderBy(userTask => userTask.Priority).ToList();
        listTasksNotStarted = listUserTasks.Where(userTask => userTask.StartDateTime == null && !userTask.IsDeleted).OrderBy(userTask => userTask.AssignedDate).ToList();
        listTasksInProgress = listUserTasks.Where(userTask => userTask.StartDateTime != null && !userTask.IsDeleted).OrderBy(userTask => userTask.AssignedDate).ToList();
        listTasksDone = listUserTasks.Where(userTask => userTask.IsDone == true && !userTask.IsDeleted).OrderBy(userTask => userTask.AssignedDate).ToList();
    }

    private void SelectTask(string taskGUID)
    {
        List<UserTask> listUserTasks = _auxDeskServices.GetUserTasks();

        selectedTask = listUserTasks.FirstOrDefault(task => task.TaskGUID == taskGUID);
    }
}
