@using Data;
@using AuxDeskServices;
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json

@using Models;
@using Services;

@inject NavigationManager _navigationManager

@inject ITaskService _taskService

@page "/"

<h3>AuxDesk</h3>

<div class="row gx-3">
    <div class="col">
        <div class="p-2">
            <h6><b>Days Tasks</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
                <div class="input-group mb-3 text-center">
                    <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" @onchange="SelectDate" value="@taskDate.ToString("yyyy-MM-dd")" aria-describedby="inputGroup-sizing-default">
                </div>
                <button type="button" class="btn btn-primary" style="width:100%" @onclick="DirectToNewTask"><b>+</b></button>
            <div class="row row-cols-2">
            @foreach (TaskItem userTask in listTaskItems)
            {
                <div class="col">
                    <div class="card" style="margin-top:8px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" @onclick="() => SelectTaskItem(userTask.TaskGUID)">
                                    <h6 class="card-title"><b>@userTask.Title</b></h6>
                                </div>
                                <div class="col" >
                                        @if (userTask.Priority == 1) {
                                            <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                        }
                                        @if (userTask.Priority == 2)
                                        {
                                            <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                        }
                                        @if (userTask.Priority == 3)
                                        {
                                            <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                        }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (userTask.StartDateTime == null) {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Not started</p>
                                    }
                                    @if (userTask.StartDateTime != null && !userTask.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                    }
                                    @if (userTask.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                    }
                                </div>
                                <div class="col">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" style="padding-left:8px">
                                                    <button type="button" class="btn btn-danger" @onclick="() => DeleteTaskItem(userTask.TaskGUID)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
            <div class="card" @onclick="ShowProgress" style="margin-top:8px">
                <div class="card-header"><b>Completed: @CompletedTasks/@TotalTasks</b></div>
                    <div class="card-body" style="display:@ProgressDisplay">
                        <h6>Not started: @NotStartedTasks</h6>
                        <h6>In progress: @InProgressTasks</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col">
        <div class="p-2">
            <h6><b>Current Task</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Title..." @bind="@selectedTaskItem.Title" disabled>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" @onclick="ToggleDropdownPriority" type="button" disabled>
                            @selectedPriority
                        </button>
                        <ul class="dropdown-menu @(isDropdownOpenPriorty ? "show" : "")" style="@(isDropdownOpenPriorty ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);" : "")">
                            <li><a class="dropdown-item" @onclick="@(() => SelectPriority(1))">High</a></li>
                            <li><a class="dropdown-item" @onclick="@(() => SelectPriority(2))">Medium</a></li>
                            <li><a class="dropdown-item" @onclick="@(() => SelectPriority(3))">Low</a></li>
                        </ul>
                    </div>
                </div>
            <div class="row">
                <div class="input-group mb-3 text-center col">
                    <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                        @if (selectedTaskItem.TaskGUID != "")
                        {
                            <input type="date" class="form-control" aria-label="Sizing example input" @bind="@selectedTaskItem.AssignedDate" aria-describedby="inputGroup-sizing-default" disabled>
                        } else
                        {
                            <input type="date" class="form-control" aria-label="Sizing example input" value="@todayDate.ToString("yyyy-MM-dd")" aria-describedby="inputGroup-sizing-default" disabled>
                        }
                </div>
                <div class="col">
                    <button type="button" class="btn btn-danger float-end ms-3">Delete</button>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle float-end" @onclick="ToggleDropdownStatus" type="button">
                            @selectedStatus
                        </button>
                        <ul class="dropdown-menu @(isDropdownOpenStatus ? "show" : "")" style="@(isDropdownOpenStatus ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);" : "")">
                            <li><a class="dropdown-item" @onclick="@(() => SelectStatus(1))">Not started</a></li>
                            <li><a class="dropdown-item" @onclick="@(() => SelectStatus(2))">In progress</a></li>
                            <li><a class="dropdown-item" @onclick="@(() => SelectStatus(3))">Done</a></li>
                        </ul>
                    </div>
                </div>
                <div class="input-group" style="height:60vh">
                    <textarea class="form-control" aria-label="With textarea" @bind="@selectedTaskItem.Notes" placeholder="Notes" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@code {

    //AuxDeskServices _auxDeskServices = new AuxDeskServices();
    //private List<UserTask> listDaysUserTasks = new List<UserTask>();
    //private UserTask selectedTask = new UserTask();
    DateOnly todayDate = DateOnly.FromDateTime(DateTime.UtcNow);
    DateOnly taskDate;
    public string ProgressDisplay = "none";
    public int CompletedTasks = 0;
    public int NotStartedTasks = 0;
    public int InProgressTasks = 0;
    public int TotalTasks = 0;
    public bool BProgressExpanded = false;

    private bool isDropdownOpenPriorty = false;
    private string selectedPriority = "Medium";
    private int taskPriority = 2;

    private bool isDropdownOpenStatus = false;
    private string selectedStatus = "Not started";

    //
    private List<TaskItem> listTaskItems = new ();
    private List<DeletedTaskItem> listDeletedTaskItems = new();
    private TaskItem selectedTaskItem = new ();

    //


    protected override void OnInitialized()
    {
        taskDate = DateOnly.FromDateTime(DateTime.UtcNow);
        LoadTaskItems();
        //_auxDeskServices.CRUDPermenentDelete();
    }

    private void DirectToNewTask()
    {
        _navigationManager.NavigateTo("/newTask");
    }

    private void SelectDate(ChangeEventArgs e)
    {
        DateOnly newDate;

        DateOnly.TryParse(e.Value.ToString(), out newDate);
        taskDate = newDate;
        LoadTaskItems();
    }

    private List<UserTask> FilterTasks(List<UserTask> listUserTasks)
    {
        List<UserTask> filterUserTasks = listUserTasks.Where(task => task.AssignedDate == taskDate).ToList();
        filterUserTasks = filterUserTasks.Where(task => !task.IsDeleted).ToList();
        filterUserTasks = filterUserTasks.OrderBy(task => task.Priority).ToList();

        return filterUserTasks;
    }

    private void ToggleDropdownPriority()
    {
        isDropdownOpenPriorty = !isDropdownOpenPriorty;
    }

    private void SelectPriority(int priority)
    {
        taskPriority = priority;
        isDropdownOpenPriorty = false;
        selectedPriority = "Low";

        if (priority == 1) { selectedPriority = "High"; }
        else if (priority == 2) { selectedPriority = "Medium"; }
    }

    private void ToggleDropdownStatus()
    {
        isDropdownOpenStatus = !isDropdownOpenStatus;
    }

    private void SelectStatus(int status)
    {
        // if (selectedTask.TaskGUID == "")
        // {
        //     return;
        // }

        // DateTime time = DateTime.UtcNow;
        // List<UserTask> listUserTasks = _auxDeskServices.GetUserTasks();

        // UserTask editTask = listUserTasks.FirstOrDefault(userTask => userTask.TaskGUID == selectedTask.TaskGUID);

        // if (status == 1)
        // {
        //     editTask.StartDateTime = null;
        //     editTask.EndDateTime = null;
        //     editTask.IsDone = false;
        // }
        // else if (status == 2)
        // {
        //     if (selectedTask.StartDateTime == null)
        //     {
        //         editTask.StartDateTime = time;
        //     }

        //     editTask.EndDateTime = null;
        //     editTask.IsDone = false;
        // }
        // else
        // {
        //     if (selectedTask.StartDateTime == null)
        //     {
        //         editTask.StartDateTime = time;
        //     }
        //     editTask.EndDateTime = time;
        //     editTask.IsDone = true;
        // }

        // _auxDeskServices.Save(listUserTasks, null, false);
        // LoadTaskItems();

        // isDropdownOpenStatus = false;
        // selectedStatus = "Done";

        // if (status == 1) { selectedStatus = "Not started"; }
        // else if (status == 2) { selectedStatus = "In progress"; }

    }

    private async void LoadTaskItems()
    {
        listTaskItems = await _taskService.GetTaskItemsAsync(taskDate);
        listTaskItems = listTaskItems.Where(t => !t.IsDeleted).ToList();

        if (listTaskItems == null || listTaskItems.Count == 0)
        {
            return;
        }
    }

    private async void DeleteTaskItem(string taskGUID)
    {
        TaskItem itemToDelete = await _taskService.GetTaskItemAsync(listTaskItems, taskGUID);
        itemToDelete.Delete();

        if (listDeletedTaskItems.Count == 0)
        {
            listDeletedTaskItems = await _taskService.GetDeletedTaskItemsAsync();
        }

        await _taskService.DeleteTaskItemAsync(listDeletedTaskItems, itemToDelete);
        await _taskService.UpdateTaskItemsAsync(listTaskItems);

        LoadTaskItems();
    }

    private void ShowProgress()
    {
        if (BProgressExpanded)
        {
            ProgressDisplay = "none";
            BProgressExpanded = false;
        }
        else
        {
            ProgressDisplay = "block";
            BProgressExpanded = true;
        }
    }

    private async void SelectTaskItem(string taskGUID)
    {
        selectedTaskItem = await _taskService.GetTaskItemAsync(listTaskItems, taskGUID);

        if (selectedTaskItem.Priority == 1) { selectedPriority = "High"; }
        else if (selectedTaskItem.Priority == 2) { selectedPriority = "Medium"; }
        else { selectedPriority = "Low"; }

        if (selectedTaskItem.StartDateTime == null)
        {
            selectedStatus = "Not started";
        }
        else if (selectedTaskItem.StartDateTime != null && !selectedTaskItem.IsDone)
        {
            selectedStatus = "In progress";
        }
        else { selectedStatus = "Done"; }
    }
}
