@using Data;
@using Microsoft.Maui.Storage
@using System.IO
@using System.Text.Json
@using Models;
@using Services;

@inject NavigationManager _navigationManager
@inject ITaskService _taskService

@page "/"

<h3>AuxDesk</h3>

<!-- Modal -->
<div class="modal fade" id="modal_NewTask" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create task</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Title..." @bind="taskTitle">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" @onclick="ToggleDropdownPriority" type="button">
                            @selectedPriority
                        </button>
                        <ul class="dropdown-menu @(isDropdownOpenPriorty ? "show" : "")" style="@(isDropdownOpenPriorty ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);" : "")">
                            <li><a class="dropdown-item" @onclick="@(() => SelectPriority(1))">High</a></li>
                            <li><a class="dropdown-item" @onclick="@(() => SelectPriority(2))">Medium</a></li>
                            <li><a class="dropdown-item" @onclick="@(() => SelectPriority(3))">Low</a></li>
                        </ul>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" @bind="taskDate" id="inputGroup-sizing-default">Start Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" @bind="taskDate">
                </div>

                <div class="input-group" style="min-height:40vh">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Notes" @bind="taskNotes"></textarea>
                </div>

                @* <div class="btn-toolbar" role="toolbar" style="margin-top:16px">
                    <div class="btn-group">
                        
                    </div>
                    <div class="btn-group" style="padding-left:8px">
                        
                    </div>
                </div> *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="CreateTask">Create</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row gx-3">
    <div class="col">
        <div class="p-2">
            <h6><b>Days Tasks</b></h6>
            <div class="border border-primary p-3 rounded-3 parent-container" style="border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
                <div class="header-fixed">
                    <div class="input-group text-center">
                        <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                        <input type="date" class="form-control" aria-label="Sizing example input" @onchange="SelectDate" value="@taskDate.ToString("yyyy-MM-dd")" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#modal_NewTask" style="width:100%"><b>+</b></button>
                </div>
                <div class="row row-cols-2 content-scrollable">
            @foreach (TaskItem userTask in listTaskItems)
            {
                <div class="col">
                    <div class="card" style="margin-bottom:8px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" @onclick="() => SelectTaskItem(userTask.TaskGUID)">
                                    <h6 class="card-title"><b>@userTask.Title</b></h6>
                                </div>
                                <div class="col" >
                                        @if (userTask.Priority == 1) {
                                            <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                        }
                                        @if (userTask.Priority == 2)
                                        {
                                            <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                        }
                                        @if (userTask.Priority == 3)
                                        {
                                            <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                        }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @if (userTask.StartDateTime == null) {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Not started</p>
                                    }
                                    @if (userTask.StartDateTime != null && !userTask.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:yellow;border-radius:4px">In progress</p>
                                    }
                                    @if (userTask.IsDone)
                                    {
                                        <p class="text-center fw-semibold" style="width:100px;background-color:green;border-radius:4px">Done</p>
                                    }
                                </div>
                                <div class="col">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" style="padding-left:8px">
                                                    <button type="button" class="btn btn-danger" @onclick="() => DeleteTaskItem(userTask.TaskGUID)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
                </div>
                <div class="card footer-fixed" @onclick="ShowProgress" style="margin-top:8px">
                <div class="card-header"><b>Completed: @CompletedTasks/@TotalTasks</b></div>
                    <div class="card-body" style="display:@ProgressDisplay">
                        <h6>Not started: @NotStartedTasks</h6>
                        <h6>In progress: @InProgressTasks</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col">
        <div class="p-2">
            <h6><b>Current Task</b></h6>
            <div class="border border-primary p-3 rounded-3 parent-container" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
                <div class="header-fixed">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Title..." @bind="@selectedTaskItem.Title" disabled>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3 text-center col">
                            <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                            @if (selectedTaskItem.TaskGUID != "")
                            {
                                <input type="date" class="form-control" aria-label="Sizing example input" @bind="@selectedTaskItem.AssignedDate" aria-describedby="inputGroup-sizing-default" disabled>
                            }
                            else
                            {
                                <input type="date" class="form-control" aria-label="Sizing example input" value="@todayDate.ToString("yyyy-MM-dd")" aria-describedby="inputGroup-sizing-default" disabled>
                            }
                        </div>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger float-end ms-3">Delete</button>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle float-end" @onclick="ToggleDropdownStatus" type="button">
                                @selectedStatus
                            </button>
                            <ul class="dropdown-menu @(isDropdownOpenStatus ? "show" : "")" style="@(isDropdownOpenStatus ? "position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 40px, 0px);" : "")">
                                <li><a class="dropdown-item" @onclick="@(() => SelectStatus(1))">Not started</a></li>
                                <li><a class="dropdown-item" @onclick="@(() => SelectStatus(2))">In progress</a></li>
                                <li><a class="dropdown-item" @onclick="@(() => SelectStatus(3))">Done</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="input-group mt-3" style="flex:1;">
                    <textarea class="form-control" aria-label="With textarea" @bind="@selectedTaskItem.Notes" placeholder="Notes" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    DateOnly todayDate = DateOnly.FromDateTime(DateTime.UtcNow);
    DateOnly taskDate;
    public string ProgressDisplay = "none";
    public bool BProgressExpanded = false;

    private bool isDropdownOpenPriorty = false;
    private string selectedPriority = "Medium";
    private int taskPriority = 2;

    private bool isDropdownOpenStatus = false;
    private string selectedStatus = "Not started";

    //
    private List<TaskItem> listAllTaskItems = new();
    private List<TaskItem> listTaskItems = new();
    private List<DeletedTaskItem> listDeletedTaskItems = new();
    private TaskItem selectedTaskItem = new ();
    private int CompletedTasks;
    private int NotStartedTasks;
    private int InProgressTasks;
    private int TotalTasks;
    //

    // New task modal fields
    private string? taskTitle;
    private string? taskNotes;
    //


    protected override void OnInitialized()
    {
        taskDate = DateOnly.FromDateTime(DateTime.UtcNow);
        LoadTaskItems();
        TaskMetaData();
    }

    // private void DirectToNewTask()
    // {
    //     _navigationManager.NavigateTo("/newTask");
    // }

    private void SelectDate(ChangeEventArgs e)
    {
        DateOnly newDate;

        DateOnly.TryParse(e.Value.ToString(), out newDate);
        taskDate = newDate;
        LoadTaskItems();
        TaskMetaData();
    }

    private void ToggleDropdownPriority()
    {
        isDropdownOpenPriorty = !isDropdownOpenPriorty;
    }

    private void SelectPriority(int priority)
    {
        taskPriority = priority;
        isDropdownOpenPriorty = false;
        selectedPriority = "Low";

        if (priority == 1) { selectedPriority = "High"; }
        else if (priority == 2) { selectedPriority = "Medium"; }
    }

    private void ToggleDropdownStatus()
    {
        isDropdownOpenStatus = !isDropdownOpenStatus;
    }

    private void TaskMetaData()
    {
        NotStartedTasks = 0;
        InProgressTasks = 0;
        CompletedTasks = 0;

        foreach (TaskItem taskItem in listTaskItems)
        {
            if (taskItem.NotStarted())
            {
                NotStartedTasks++;
            }
            else if (taskItem.InProgress())
            {
                InProgressTasks++;
            }
            else if (taskItem.IsDone)
            {
                CompletedTasks++;
            }
        }
        TotalTasks = listTaskItems.Count();
    }

    private void SelectStatus(int status)
    {
        // if (selectedTask.TaskGUID == "")
        // {
        //     return;
        // }

        // DateTime time = DateTime.UtcNow;
        // List<UserTask> listUserTasks = _auxDeskServices.GetUserTasks();

        // UserTask editTask = listUserTasks.FirstOrDefault(userTask => userTask.TaskGUID == selectedTask.TaskGUID);

        // if (status == 1)
        // {
        //     editTask.StartDateTime = null;
        //     editTask.EndDateTime = null;
        //     editTask.IsDone = false;
        // }
        // else if (status == 2)
        // {
        //     if (selectedTask.StartDateTime == null)
        //     {
        //         editTask.StartDateTime = time;
        //     }

        //     editTask.EndDateTime = null;
        //     editTask.IsDone = false;
        // }
        // else
        // {
        //     if (selectedTask.StartDateTime == null)
        //     {
        //         editTask.StartDateTime = time;
        //     }
        //     editTask.EndDateTime = time;
        //     editTask.IsDone = true;
        // }

        // _auxDeskServices.Save(listUserTasks, null, false);
        // LoadTaskItems();

        // isDropdownOpenStatus = false;
        // selectedStatus = "Done";

        // if (status == 1) { selectedStatus = "Not started"; }
        // else if (status == 2) { selectedStatus = "In progress"; }

    }

    private async void LoadTaskItems()
    {
        listTaskItems = await _taskService.GetTaskItemsAsync(taskDate);
        listTaskItems = listTaskItems.Where(t => !t.IsDeleted).ToList();

        if (listTaskItems == null || listTaskItems.Count == 0)
        {
            return;
        }
    }

    private async void DeleteTaskItem(string taskGUID)
    {
        if (listAllTaskItems.Count() == 0)
        {
            listAllTaskItems = await _taskService.GetTaskItemsAsync(null);
        }

        TaskItem itemToDelete = await _taskService.GetTaskItemAsync(listAllTaskItems, taskGUID);
        itemToDelete.IsDeleted = true;

        if (listDeletedTaskItems.Count == 0)
        {
            listDeletedTaskItems = await _taskService.GetDeletedTaskItemsAsync();
        }

        await _taskService.DeleteTaskItemAsync(listDeletedTaskItems, itemToDelete);
        await _taskService.UpdateTaskItemsAsync(listAllTaskItems);

        LoadTaskItems();
        TaskMetaData();
    }

    private void ShowProgress()
    {
        if (BProgressExpanded)
        {
            ProgressDisplay = "none";
            BProgressExpanded = false;
        }
        else
        {
            ProgressDisplay = "block";
            BProgressExpanded = true;
        }
    }

    private async void SelectTaskItem(string taskGUID)
    {
        selectedTaskItem = await _taskService.GetTaskItemAsync(listTaskItems, taskGUID);

        if (selectedTaskItem.Priority == 1) { selectedPriority = "High"; }
        else if (selectedTaskItem.Priority == 2) { selectedPriority = "Medium"; }
        else { selectedPriority = "Low"; }

        if (selectedTaskItem.StartDateTime == null)
        {
            selectedStatus = "Not started";
        }
        else if (selectedTaskItem.StartDateTime != null && !selectedTaskItem.IsDone)
        {
            selectedStatus = "In progress";
        }
        else { selectedStatus = "Done"; }
    }

    private async void CreateTask()
    {
        TaskItem newTaskItem = new();

        newTaskItem.TaskGUID = Guid.NewGuid().ToString();
        newTaskItem.Title = taskTitle;
        newTaskItem.Notes = taskNotes;
        newTaskItem.Priority = taskPriority;
        newTaskItem.AssignedDate = taskDate;

        // Validate on domain layer
        string validationMessage = string.Empty;
        bool bInvalid = false;
        if (string.IsNullOrEmpty(newTaskItem.Title))
        {
            validationMessage += "Title is required.";
            bInvalid = true;
        }
        if (newTaskItem.AssignedDate == null)
        {
            validationMessage += " Valid date is required.";
            bInvalid = true;
        }
        if (bInvalid)
        {
            await App.Current.MainPage.DisplayAlert("Validation Error", validationMessage, "OK");
            return;
        }

        if (listAllTaskItems.Count == 0)
        {
            listAllTaskItems = await _taskService.GetTaskItemsAsync(null);
        }

        await _taskService.SaveTaskItemAsync(listAllTaskItems, newTaskItem);

        taskTitle = string.Empty;
        taskNotes = string.Empty;

        await App.Current.MainPage.DisplayAlert("Task Saved", "Task saved sucessfully", "OK");

        LoadTaskItems();
        TaskMetaData();
        StateHasChanged();
    }
}
