@using System.Timers;
@using Services;

@inject ITimerService _timerService

@page "/pomodorodev"

<h3>Pomodoro Dev</h3>
<br />
<div class="card position-absolute start-50 top-0 translate-middle border border-primary p-1 rounded-3" style="width:430px;border-color:#28c7fc !important; margin-top:200px">
    <div class="card-body">
        <p class="fs-4 fw-semibold text-center">Pomodoro</p>
        <div class="text-center mb-3">
            <span class="badge rounded-pill text-bg-primary" style="@pill_Pomodoro">Pomodoro</span>
            <span class="badge rounded-pill text-bg-primary" style="@pill_ShrtBreak">Short Break</span>
            <span class="badge rounded-pill text-bg-primary" style="@pill_LngBreak">Long Break</span>
        </div>
        <p class="fs-2 fw-bold text-center">@currentTimer.ToString("D2")</p>
        <p class="text-center">@pomodoroCycles / <input type="number" min="1" max="99" @bind="selectedCycles" disabled="@bElementDisabled" /></p>
        
        <div class="row justify-content-center">
            <div class="col-3">
                <button type="button" class="btn fw-semibold" @onclick="StartTimerPomodoro" style="width:70px; @btn_StartPause">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" />
                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
                        <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5m5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5" />
                    </svg>
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn fw-semibold" @onclick="ResetTimer" style="width:70px; border:solid lightgrey 1px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    int selectedDuration = 0;
    int selectedCycles = 4;

    bool bTimerRunning = false;
    bool bTimerReset = false;

    private bool bElementDisabled = false;

    // Pomodoro Methods
    Timer? timer_Pomodoro = null;

    int pomodoroCycles = 0;
    int workDuration_Mins = 10;
    int shortBreakDuration_Mins = 5;
    int longBreakDuration_Mins = 15;
    int currentTimer = 0;
    bool bOnBreak = false;
    bool pomodoroStarted = false;

    string pill_Pomodoro = string.Empty;
    string pill_ShrtBreak = string.Empty;
    string pill_LngBreak = string.Empty;
    string btn_StartPause = "border:solid lightgrey 1px";

    string ui_Pill = "background-color:rgba(4, 170, 109, 0) !important; border:solid lightgrey 1px";
    string ui_BtnSelected = "color: black !important; background-color: #28c7fc !important";
    string ui_Btn = "border:solid lightgrey 1px";

    protected override void OnInitialized()
    {
        pill_Pomodoro = ui_Pill;
        pill_ShrtBreak = ui_Pill;
        pill_LngBreak = ui_Pill;
    }

    private void StartTimerPomodoro()
    {
        try
        {

            if (!_timerService.PauseTimer(timer_Pomodoro))
            {
                btn_StartPause = ui_Btn;
                return;
            }

            if (!pomodoroStarted)
            {
                bElementDisabled = true;
                pomodoroStarted = true;
                currentTimer = workDuration_Mins;
            }

            btn_StartPause = ui_BtnSelected;
            pill_Pomodoro = ui_BtnSelected;

            timer_Pomodoro = new Timer(1000);

            // Call the NewTickPomodoro method every second.
            timer_Pomodoro.Elapsed += NewTickPomodoro;
            timer_Pomodoro.Enabled = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"StartTimerPomodoro ex: {ex.Message}");
        }
    }

    private void NewTickPomodoro(Object source, ElapsedEventArgs e)
    {
        string message = "";

        if (pomodoroCycles >= selectedCycles)
        {
            _timerService.DisplayNotification("Cycles completed");

            pill_ShrtBreak = ui_Pill;
            pill_LngBreak = ui_Pill;
            pill_Pomodoro = ui_Pill;
            // Reset timer
            ResetTimer();
            bElementDisabled = false;
            
            return;
        }

        if (currentTimer > 0)
        {
            currentTimer--;
        }
        else if (currentTimer == 0 && bOnBreak)
        {
            bOnBreak = false;
            pill_ShrtBreak = ui_Pill;
            pill_LngBreak = ui_Pill;
            currentTimer = workDuration_Mins;

            pill_Pomodoro = ui_BtnSelected;
            message = "Break over! Time to work.";
            _timerService.DisplayNotification(message);

        }
        else if (currentTimer == 0 && !bOnBreak)
        {
            // Timer finished
            pomodoroCycles++;
            bOnBreak = true;
            if (pomodoroCycles % 4 == 0)
            {
                pill_Pomodoro = ui_Pill;
                pill_ShrtBreak = ui_Pill;
                pill_LngBreak = ui_BtnSelected;
                currentTimer = longBreakDuration_Mins;
                message = "Work session over! Time for a long break.";
            }
            else
            {
                pill_Pomodoro = ui_Pill;
                pill_LngBreak = ui_Pill;
                pill_ShrtBreak = ui_BtnSelected;
                currentTimer = shortBreakDuration_Mins;
                message = "Work session over! Time for a short break.";
            }
            if (pomodoroCycles < selectedCycles)
            {
                _timerService.DisplayNotification(message);
            }
        }
        InvokeAsync(StateHasChanged);
    }

    private void ResetTimer()
    {
        try
        {
            _timerService.TimerCleanUp(timer_Pomodoro);
            currentTimer = workDuration_Mins;
            bOnBreak = false;
            pomodoroStarted = false;
            pomodoroCycles = 0;
            pill_Pomodoro = ui_Pill;
            btn_StartPause = ui_Btn;
            bElementDisabled = false;
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"ResetTimer ex: {ex.Message}");
        }
    }
}