@using Data;
@using AuxDeskServices;

@using Models;
@using Services;

@inject ITaskService _taskService

@page "/recycle"

<h3>Recycle</h3>

<div class="row gx-3">
    <div class="col-sm-6">
        <div class="p-2">
            <h6><b>Deleted Tasks</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
            <div class="row row-cols-2">
                    @foreach (TaskItem taskItem in listTaskItems)
            {
                
                <div class="col">
                    <div class="card" style="margin-top:8px">
                        <div class="card-body">
                            <div class="row">
                                        <div class="col" @onclick="() => SelectTaskItem(taskItem.TaskGUID)">
                                            <h6 class="card-title"><b>@taskItem.Title</b></h6>
                                </div>
                                <div class="col" >
                                            @if (taskItem.Priority == 1) {
                                        <p class="text-center fw-semibold" style="background-color:red;border-radius:4px">High</p>
                                    }
                                                @if (taskItem.Priority == 2)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:orange;border-radius:4px">Medium</p>
                                    }
                                            @if (taskItem.Priority == 3)
                                    {
                                        <p class="text-center fw-semibold" style="background-color:green;border-radius:4px">Low</p>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" style="padding-left:8px">
                                                    <button type="button" class="btn btn-danger" @onclick="() => RestoreTaskItem(taskItem.TaskGUID)">Restore</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            }
             </div>
             </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="p-2">
            <h6><b>Selected Task</b></h6>
            <div class="border border-primary p-3 rounded-3" style="height:85vh;border-color:#65cf9e !important; background-color:rgba(0, 0, 0, 0.2)">
            <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Title..." value="@selectedTaskItem.Title" disabled>
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" disabled>@selectedPriority</button>
                </div>
            </div>
            <div class="input-group mb-3  text-center">
                <span class="input-group-text" id="inputGroup-sizing-default" disabled>Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" @bind="@selectedTaskItem.AssignedDate" aria-describedby="inputGroup-sizing-default" disabled>
            </div>
            <div class="input-group" style="height:60vh">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Notes" disabled>@selectedTaskItem.Notes</textarea>
            </div>
            </div>
        </div>
    </div>
</div>

@code {
    DateOnly todayDate = DateOnly.FromDateTime(DateTime.UtcNow);
    private List<DeletedTaskItem> listDeletedTaskItems = new();
    private List<TaskItem> listAllTaskItems = new();
    private List<TaskItem> listTaskItems = new();
    private TaskItem selectedTaskItem = new();

    private bool isDropdownOpenPriorty = false;
    private string selectedPriority = "Medium";
    private int taskPriority = 2;

    protected override void OnInitialized()
    {
        LoadRecycledTasks();
    }
    private async void LoadRecycledTasks()
    {
        // Get recycled tasks
        listDeletedTaskItems = await _taskService.GetDeletedTaskItemsAsync();

        if (listDeletedTaskItems.Count == 0)
        {
            return;
        }

        // Get all tasks
        listAllTaskItems = await _taskService.GetTaskItemsAsync(null);

        // Add to list of tasks to show
        foreach (DeletedTaskItem deletedTask in listDeletedTaskItems)
        {
            TaskItem taskItem = listAllTaskItems.FirstOrDefault(taskItem => taskItem.TaskGUID == deletedTask.TaskGUID);
            if (taskItem != null)
            {
                listTaskItems.Add(taskItem);
            }
        }
    }
    private async void SelectTaskItem(string taskGUID)
    {
        selectedTaskItem = await _taskService.GetTaskItemAsync(listTaskItems, taskGUID);

        if (selectedTaskItem.Priority == 1) { selectedPriority = "High"; }
        else if (selectedTaskItem.Priority == 2) { selectedPriority = "Medium"; }
        else { selectedPriority = "Low"; }
    }
    private async void RestoreTaskItem(string taskGUID)
    {
        // select task item in list of all task items
        TaskItem taskToRestore = listAllTaskItems.FirstOrDefault(t => t.TaskGUID == taskGUID);

        // switch isDeleted to false
        taskToRestore.Delete(false);

        // Update tasks in data store
        await _taskService.UpdateTaskItemsAsync(listAllTaskItems);

        // remove from list of deleted tasks
        listDeletedTaskItems.RemoveAll(t => t.TaskGUID == taskGUID);
        listTaskItems.RemoveAll(t => t.TaskGUID == taskGUID);

        // Update recycled tasks in data store
        await _taskService.UpdateDeletedTaskItemsAsync(listDeletedTaskItems);
    }
}
