@using System.Timers;
@using Services;

@inject ITimerService _timerService

@page "/timerdev"

<h3>Timer Dev</h3>
<br />
<input type="radio" id="dur_15" name="duration" @onclick="@(() => SelectDuration(0))" disabled="@bElementDisabled" checked>
<label for="dur_15">15 mins</label><br>
<input type="radio" id="dur_30" name="duration" @onclick="@(() => SelectDuration(1))" disabled="@bElementDisabled">
<label for="dur_30">30 mins</label><br>
<input type="radio" id="dur_1" name="duration" @onclick="@(() => SelectDuration(2))" disabled="@bElementDisabled">
<label for="dur_1">1 hr</label><br>

<p>Timer - @countdown_Hrs.ToString("D2"):@countdown_Mins.ToString("D2"):@countdown_Secs.ToString("D2")</p>

<button type="button" class="btn" @onclick="StartTimer">Start/Stop</button>
<button type="button" class="btn" @onclick="ResetTimer">Reset</button>

@code {

    ///
    // Timer
    Timer? timer = null;

    int selectedDuration = 0;
    // For storing the set duration
    int setDuration_Hrs;
    int setDuration_Mins;
    int setDuration_Secs;

    // For countdown display
    int countdown_Hrs;
    int countdown_Mins;
    int countdown_Secs;

    private bool bElementDisabled = false;

    protected override void OnInitialized()
    {
        SelectDuration(selectedDuration);
    }

    // Timer Methods
    private void StartTimer()
    {
        try
        {
            if (!_timerService.PauseTimer(timer))
            {
                bElementDisabled = false;
                return;
            }

            bElementDisabled = true;

            timer = new Timer(1000);

            // Call the NewTick method every second.
            timer.Elapsed += NewTick;
            timer.Enabled = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"StartTimer ex: {ex.Message}");
        }
    }

    private void NewTick(Object source, ElapsedEventArgs e)
    {
        bool bUpdateDisplay = false;

        if (countdown_Secs > 0)
        {
            bUpdateDisplay = true;
            countdown_Secs -= 1;
        }
        else
        {
            bUpdateDisplay = true;
            countdown_Secs = 59;
            if (countdown_Hrs > 0 && countdown_Mins == 0)
            {
                countdown_Mins = 59;
            }
            else
            {
                countdown_Mins -= 1;
            }
        }

        if (countdown_Hrs > 0 && countdown_Mins == 59 && countdown_Secs == 59)
        {
            countdown_Hrs -= 1;
            bUpdateDisplay = true;
        }

        if (countdown_Hrs == 0 && countdown_Mins == 0 && countdown_Secs == 0)
        {

            ResetTimer();
            _timerService.DisplayNotification("Timmer done");
        }

        if (bUpdateDisplay) { InvokeAsync(StateHasChanged); }
    }

    private void SelectDuration(int duration)
    {
        selectedDuration = duration;
        setDuration_Secs = 0;

        switch (duration)
        {
            case 0:
                setDuration_Hrs = 0;
                setDuration_Mins = 15;
                countdown_Hrs = 0;
                countdown_Mins = 15;
                countdown_Secs = 0;
                break;
            case 1:
                setDuration_Hrs = 0;
                setDuration_Mins = 30;
                countdown_Hrs = 0;
                countdown_Mins = 30;
                countdown_Secs = 0;
                break;
            case 2:
                setDuration_Hrs = 1;
                setDuration_Mins = 0;
                countdown_Hrs = 1;
                countdown_Mins = 0;
                countdown_Secs = 0;
                break;
        }
    }

    private void ResetTimer()
    {
        try
        {
            _timerService.TimerCleanUp(timer);
            SelectDuration(selectedDuration);
            
            bElementDisabled = false;
            InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"ResetTimer ex: {ex.Message}");
        }
    }
}